* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

/*navigation bar css*/
.head {
    min-height: 90vh;
    background: url(../signup/img/6.jpeg);
    /*background immage*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: sticky;
    top: 0;

    z-index: 99;
    box-shadow: 0 0 10px #000;

    background: black;

}

#chk1 {
    display: none;
}

i {
    color: #fff;
    cursor: pointer;
}

.logo {
    color: #e78f38;
    margin-left: 50px;
    flex: 1;
    text-transform: uppercase;
}

header ul {

    display: flex;
    justify-content: space-evenly;
}

header ul li {
    list-style: none;
    padding: 10px;


}

header ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;

}
header ul li a:hover{color: #e78f38;}

.menu {
    font-size: 2.5em;
    display: none;
}

/*footer css*/
footer {
    height: 100px;
    padding-top: 0.4%;
    background-color: #000000f2;
    opacity: 0.9;
    padding-left: 42%;
    justify-content: center;
    color: white;
}

.f_p {

    color: #fff;
}

.f_p:hover {
    color: #e78f38;
}

form {
    position: relative;
    overflow: hidden;

}

.login {
    display: flex;
    justify-content: space-evenly;


}

.from-box-login {

    width: 100%;
    padding: 20px;
    margin-top: 7%;
    margin-bottom: 7%;
    color: #fff;
    margin-inline: 12%;
    width: 400px;

    animation: popUp 1.5s ease-in-out;
    border: 2px solid rgba(255, 255, 255, 5);
    background-color: rgba(72, 70, 70, 0.9);

    border-radius: 20px;


    align-items: center;
}

.from-box-login h2 {
    font-size: 2em;
    color: rgb(250, 127, 12);
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;

    margin: 30px 0;
}

.input-box label {

    top: 50%;
    left: 5px;

    font-size: 1em;
    pointer-events: none;

}

.input-box input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    margin-top: 3%;
    color: antiquewhite;
    padding-bottom: 2%;
    border-bottom: 2px solid white;
    padding: 8px;
}

.remember-forget {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    margin: 15px 0 15px;
}

.remember-forget a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.remember-forget a:hover {
    text-decoration: underline;

}

.btn {
    width: 100%;
    height: 45px;
    background-color: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.btn:hover {
    color: #e78f38;

}

.login-register {
    text-align: center;
    margin-top: 10%;
}

.login-register a {
    color: rgb(255, 51, 0);
    text-decoration: none;
}

.l_msg {
    border-radius: 30px;
    background-color: #162938;
    justify-content: center;
    text-align: center;
    color: #fff;

    padding: 40px;
    margin-top: 7%;
    margin-bottom: 7%;
}

.l_msg p {
    font-size: 1.5em;
    padding: 20px;
    animation: fadeIn 2s ease-in-out;
}

.l_msg h1 {
    color: #e78f38;
    font-size: 2.8em;
    animation: slideDown 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes popUp {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
a{
    text-decoration: none;
}

/*responsive navigation bar css*/
@media(max-width:1200px) {
    header ul {
        position: fixed;
        right: -100%;
        top: 100px;
        background: rgb(0, 0, 0);
        height: 70%;
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    footer{
        padding:20px;
        height:100px;
    }

    .login {
        display: list-item;
    }

    .menu {
        display: block;
        width: 100px;
        text-align: center;
    }

    #chk1:checked~ul {
        right: 0;
    }

.from-box-login{margin-bottom:0;
}
}

@media(max-width:1500px) {
    header ul li {
        font-size: 13px;
        padding: 5px;
    }

    .logo {
        font-size: 15px
    }
}